
@font-face {
    font-family: 'TEST';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    
    src: url('https://mridul0007.github.io/testfont/TRATONTypeDisplay-Bold1.ttf') format('truetype');
    }



